{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block page_content %}
	<!-- Start Header
	================================================== -->
	<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Your Logo -->
	      <a href="{{ url_for('index')}}" class="navbar-brand">WLMetrics</a>
	    </div>
	    <!-- Start Navigation -->
	    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
          <ul class="nav navbar-nav navbar-right header-button">
            <li>
              <button type="button" class="btn btn-danger" onclick="location.href='/logout';">Logout</button>
            </li>
          </ul>
	    </nav>
	  </div>
	</header>
	<!-- ==================================================
	End Header -->

    <!-- Start Image Block
================================================== -->
    <section id="image" class="section" style="background-color:#FFF; border-top: 1px solid rgba(0, 0, 0, .1);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="overview animate" data-animate="flipInX">
                        <h1>Welcome {{ user.given_name }} {{ user.surname }}!</h1>

                        <p class="lead">Below you can review all your recorded sessions.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12"><img class="animate img-responsive" data-animate="fadeInLeft"
                                                     src="http://placehold.it/555x416" alt=""/></div>
                <div class="col-md-6 col-sm-12">
                    <div class="content-block animate" data-animate="fadeInRight" style="margin-top: 60px;">
                        <h2></h2>

                        <p class="lead">Info text.</p>
                        <hr/>
                        <p>
                            Text describing just how interesting this methodlogy is.
                            Text describing just how interesting this methodlogy is.
                            Text describing just how interesting this methodlogy is.
                            Text describing just how interesting this methodlogy is.
                            Text describing just how interesting this methodlogy is.
                            Text describing just how interesting this methodlogy is.
                            Text describing just how interesting this methodlogy is.
                        </p>
                        <button class="btn btn-md btn-primary">Learn More</button>
                        <button class="btn btn-md btn-default">Purchase Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================================================
    End Image Blcok -->
{% endblock %}

{% block javascripts %}

{% endblock %}
