{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block page_content %}
	<!-- Start Header
	================================================== -->
	<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Your Logo -->
	      <a href="{{ url_for('index')}}" class="navbar-brand">WLMetrics</a>
	    </div>
	    <!-- Start Navigation -->
	    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
          <ul class="nav navbar-nav navbar-right header-button">
            <li>
              <button type="button" class="btn btn-danger" onclick="location.href='/logout';">Logout</button>
            </li>
          </ul>
	    </nav>
	  </div>
	</header>
	<!-- ==================================================
	End Header -->

    <!-- Start Image Block
    ================================================== -->
    <section id="image" class="section" style="background-color:#FFF; border-top: 1px solid rgba(0, 0, 0, .1);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="overview animate" data-animate="flipInX">
                        <h1>Upload Recorded File</h1>

                        <p class="lead">Click the box below or just drag a file into it.</p>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="content-block animate" data-animate="fadeInRight" style="margin-top: 60px;">
                        <h2>Dropzone</h2>
                        <form class="dropzone" method="POST" action={{ url_for('upload') }}>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ dzform.the_file.label }} <br> {{ dzform.the_file(size=20, class="form-control", placeholder="Select a file...") }}
                            </div>
					    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ================================================== 
    End Image Blcok -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
{% endblock %}
